body{
    line-height: 1.5;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2{
     color: #648880;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
   width: 90%;
   margin: 0 auto;
}
li{
    list-style-type: none;
    padding: 0 1em 1em 1em;

    
}

a{
        text-decoration:none;
    }

    .center{
        text-align: center;
    }